/references/*
data/hospital_data/*
data/case_curve/*
data/mobility_data/*
data/GISAID_data/*
data/OneDrive_1_30-08-2022/*
!data/case_curve/HK_case_data.json
!data/case_curve/hk_epicurve.xlsx
!data/hospital_data/metadata_cases_plot.csv
!data/GISAID_data/gisaid_supplemental_table_epi_set_250322yt.pdf
!data/mobility_data/2022_HK_Region_Mobility_Report.csv
!data/mobility_data/statistics_on_daily_passenger_traffic.csv
!data/mobility_data/public_transport.xlsx
draft/*
docs/*
~*
.DS_Store
results/mengting/*
results/ruixuan/*
results/nextstrain/*
results/*.pdf
results/*.afdesign
